h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: lightgoldenrodyellow;
}
p::selection{   /* Highlight (copy) the text */
    color:greenyellow;
    background-color: black;
}
#apple::after{
    content: "🍎";
}
#orange::after {
    content: "🍊";
}
#banana::after {
    content: "🍌";
}
#fruit li::marker {
    content: "✅";
    background-color: darkred;
    font-size: 1em;
}